[package]
name = "brisas-app"
version = "0.1.0"
description = "A Tauri App"
authors = ["Daniel Thompson"]
edition = "2021"

[lib]
name = "brisas_app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = ["test"] }

tauri-plugin-opener = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sqlx = { version = "0.7", features = ["sqlite", "runtime-tokio-rustls", "macros", "migrate"], default-features = false }
tokio = { version = "1", features = ["full"] }
chrono = { version = "0.4", features = ["serde"] }
reqwest = { version = "0.12", features = ["json"] }
dotenvy = "0.15"
argon2 = { version = "0.5", features = ["std"] }
uuid = { version = "1.0", features = ["v4"] }

[package.metadata.sqlx]
offline = true
